.seek-shelter-container {
    padding: 20px;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    min-height: 100vh;
}

.seek-shelter-header {
    text-align: center;
    margin-bottom: 30px;
}

.seek-shelter-header h2 {
    font-size: 2.5rem;
    color: #4CAF50;
}

.seek-shelter-header p {
    font-size: 1.2rem;
    color: #555;
}

.search-container {
    margin: 20px auto;
    max-width: 500px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}
.search-icon {
    color: #4CAF50;
    position: relative; 
    top: -4px; 
    left: -3px;
}


.shelters-list {
    margin-top: 20px;
}

.shelters-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.shelter-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
    padding: 15px;
}

.shelter-card:hover {
    transform: scale(1.05);
}

.shelter-image img {
    width: 100%;
    max-width: 750px; 
    height: 250px; 
    object-fit: contain;
    background-color: #f0f0f0; 
    border-radius: 8px;
    margin-bottom: 10px;
}


.shelter-card-header {
    text-align: center;
    margin-bottom: 10px;
}

.shelter-card-header h4 {
    font-size: 1.5rem;
    color: #333;
}

.shelter-card-header p {
    font-size: 1rem;
    color: #777;
}

.shelter-card-body p {
    font-size: 1rem;
    color: #555;
    margin: 5px 0;
}

.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #f44336;
}

.back-home-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.back-home-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.back-home-button:hover {
    background-color: #45a049;
}
